<div id="<%= dom_id tournament_class %>">
  <div class="mt-6">
    <b>Name:</b> <%= @tournament_class.name %>
  </div>

  <div>
    <b>Age start:</b> <%= @tournament_class.age_start %>
  </div>

  <div>
    <b>Age end:</b> <%= @tournament_class.age_end %>
  </div>

  <div class="mt-6 mb-6">
    <b>Available Target Faces:</b>
    <ul class="list-disc list-inside">
      <% @tournament_class.target_faces.each do |tf| %>
        <li>
          <%= tf.name %>
        </li>
      <% end %>
    <ul>
  </div>
</div>
