<div id="<%= dom_id tournament_class %>">
  <div class="mt-6">
    <b>Age start:</b> <%= @tournament_class.age_start %>
  </div>

  <div>
    <b>Age end:</b> <%= @tournament_class.age_end %>
  </div>

  <% if @tournament_class.price %>
  <div>
    <b>Price:</b> <%= @tournament_class.price / 100 %>,<%= format("%02d", @tournament_class.price % 100) %>€
  </div>
  <% end %>

  <div class="mt-6 mb-6">
    <b>Available Target Faces:</b>
    <ul class="list-disc list-inside">
      <% @tournament_class.target_faces.each do |tf| %>
        <li>
          <%= tf.name %>
        </li>
      <% end %>
    <ul>
  </div>

  <div class="mt-6 mb-6">
    <b>Registered participants:</b>
    <ul class="list-disc list-inside">
      <% @tournament_class.participants.each do |p| %>
        <li>
          <%= p.first_name + " " + p.last_name %>
        </li>
      <% end %>
    <ul>
  </div>
</div>
