<div class="container mx-auto md:p-6">

  <%= link_to (t ".Register"), {controller: "participants", action: "new"}, class: "inline-block px-4 py-2 bg-blue-600 text-white font-medium rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 w-full text-center mb-1", tabindex: "0" %>
  <%= link_to (t ".Register multiple"), {controller: "participants", action: "multiple_new"}, class: "inline-block px-4 py-2 bg-blue-600 text-white font-medium rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 w-full text-center", tabindex: "0" %>

  <table class="mt-3 min-w-full table-auto border-collapse border border-gray-200 shadow-md rounded-lg overflow-x-auto">
    <thead>
      <tr class="bg-gray-100 text-gray-700">
        <th class="px-6 py-3 text-left text-sm font-semibold border-b border-gray-300"><%= t ".Name" %></th>
        <th class="px-6 py-3 text-left text-sm font-semibold border-b border-gray-300"><%= t ".Class" %></th>
        <th class="px-6 py-3 text-left text-sm font-semibold border-b border-gray-300"><%= t ".Target Face" %></th>
        <% if @tournament.enforce_club %>
          <th class="px-6 py-3 text-left text-sm font-semibold border-b border-gray-300"><%= t ".Club" %></th>
        <% end %>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      <% @participants.reverse.each do |p| %>
        <tr
          class="<% if authenticated? %>
            hover:bg-gray-50
          <% end %>
          <% if authenticated? && !p.valid? %>
            bg-red-100
          <% end %>"
          <% if authenticated? %>
            data-url=<%= edit_tournament_participant_path(@tournament, p)%>
          <% end %>
        >
          <td class="px-6 py-4 text-gray-800">
            <%= "#{p.first_name} #{p.last_name}" %>
          </td>
          <td class="px-6 py-4 text-gray-600">
            <%= p.tournament_class.andand.name %>
          </td>
          <td class="px-6 py-4 text-gray-600">
            <%= p.target_face.andand.name %>
          </td>
          <% if @tournament.enforce_club %>
            <td class="px-6 py-4 text-gray-600">
              <%= p.club %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>


  <div class="mt-6 flex justify-between">
    <div class="flex space-x-1">
    </div>
    <% if authenticated? %>
    <div class="flex">
      <%= link_to (t ".Export to ianseo"), {controller: "participants", action: "index", format: "csv", query: "ianseo"}, class: "inline-block px-4 py-2 bg-gray-600 text-white font-medium rounded-lg hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500" %>
      <%= link_to (t ".Download as csv"), {controller: "participants", action: "index", format: "csv"}, class: "inline-block px-4 py-2 bg-gray-600 text-white font-medium rounded-lg hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500" %>
    </div>
    <% end %>
  </div>
</div>
