<div class="container mx-auto p-6">
  <h1 class="text-4xl font-bold text-gray-800 mb-4"><%= t ".Tournaments"%></h1>
  <p class="text-lg text-gray-600 mb-6"><%= t ".Select a tournament"%></p>

  <div class="space-y-4">
    <% @tournaments.filter {|t| t.status != "archived"}.each do |t| %>
      <h3 class="text-xl font-semibold text-blue-600 hover:text-blue-800">
        <%= link_to t.name, t %>
      </h3>
    <% end %>
  </div>

  <% archived_tournaments = @tournaments.filter{|t| t.status == "archived"} %>
  <% if authenticated? && archived_tournaments.any? %>
  <div class="space-y-4">
    <h2 class:"text-2xl font-bold text-gray-800 mb-4">Archived:</h2>
  </div>
  <div class="space-y-4">
    <% archived_tournaments.each do |t| %>
      <h3 class="text-xl font-semibold text-blue-600 hover:text-blue-800">
        <%= link_to t.name, t %>
      </h3>
    <% end %>
  </div>
  <% end %>

  <div class="mt-6">
    <%= link_to (t ".Create a new one"), {controller: "tournaments", action: "new"}, class: "inline-block px-4 py-2 bg-blue-600 text-white font-medium rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
  </div>
</div>
