<header class="flex">
  <div class="container mx-auto flex justify-between items-center py-4 px-6 overflow-x-auto">
    <!-- Left Side: Navigation Links -->
    <nav class="flex space-x-6 items-center">
      <a href="/"><img class="text-gray-700 hover:text-blue-600 font-medium h-[2rem] min-w-[2rem]" alt="Home" src="/icon.png"></a>
      <% if @tournament && @tournament.id %>
        <a href="<%= tournament_path(@tournament) %>" class="text-gray-700 hover:text-blue-600 font-medium"><%= t "Tournament"%></a>
        <a href="<%= tournament_participants_path(@tournament) %>" class="text-gray-700 hover:text-blue-600 font-medium"><%= t "Participants"%></a>
        <a href="<%= tournament_tournament_classes_path(@tournament) %>" class="text-gray-700 hover:text-blue-600 font-medium"><%= t "Classes"%></a>
        <a href="<%= tournament_target_faces_path(@tournament) %>" class="text-gray-700 hover:text-blue-600 font-medium"><%= t "Target Faces"%></a>
      <% end %>
    </nav>

    <!-- Right Side: Login Button -->
    <nav class="flex space-x-6">
      <select bg-transparent class="border-none appearance-none" id="locale_selector">
        <option value="de">🇩🇪 - DE</option>
        <option value="en">🇬🇧 - EN</option>
      </select>
      <% if authenticated? %>
        <a href="<%=session_path%>" data-method="delete" class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
          Log Out
        </a>
      <% else %>
        <a href="<%=new_session_path%>" class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
          Log In
        </a>
      <% end %>
    </nav>
  </div>
</header>
