<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= content_for(:title) || "Archer" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "sprockets_application", "data-turbo-track": "reload", defer: true %>
    <%= csrf_meta_tags %>
    <%= javascript_importmap_tags %>

  </head>

  <body class="min-h-screen max-w-screen flex flex-col">
  <%= render "header" %>
    <main class="container mx-auto px-5 flex-grow overflow-x-auto">
      <%= yield %>
    </main>
  <%= render "footer" %>
  </body>

  <script>
    // JavaScript to make rows clickable
    function addTableRowListener() {
      const tableRows = document.querySelectorAll('tbody tr');

      tableRows.forEach(row => {
        if (row.getAttribute('data-url')) {
          row.addEventListener('click', function(event) {
            const url = this.getAttribute('data-url');
            if (event.target.tagName != "BUTTON" && url) {
                window.location.href = url;
            }
          });

          // Optional: Make the cursor a pointer to indicate it's clickable
          row.style.cursor = 'pointer';
        }
      });
    }
    document.addEventListener('DOMContentLoaded', addTableRowListener);
    document.addEventListener('turbo:render', addTableRowListener);

    function addLocaleSelectorListener() {
      const select = document.getElementById("locale_selector");
      const current_url = new URL(window.location.href);
      const current_locale = current_url.searchParams.get('locale') || 'de';
      select.value = current_locale;
      select.addEventListener('change', function() {
        const selectedLocale = this.value;
        var url = new URL(window.location.href);
        url.searchParams.set('locale', selectedLocale);
        window.location.href = url.toString();
      });
    }
    document.addEventListener('DOMContentLoaded', addLocaleSelectorListener);
    document.addEventListener('turbo:render', addLocaleSelectorListener);
  </script>
</html>
